<div class="articlelist">
  <h2 class="showtitle">All articles</h2>
  <ul>
  <% @articles.reverse_each do |article| %>
    <li class="navlinks"><%= link_to article.title, article %> (<%= link_to article.signature, author_path(Author.find_or_create_by(name: article.signature)) %>)
    <%#= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
  </ul>
  <h3 class="new_article_link"><%= link_to "WRITE NEW ARTICLE NOW!", new_article_path %></h3>
</div>