<%#= render 'column', article: @articles, locale: {side: "left"} %>

<div class="main">
  <div class="welcome">Welcome to my blog, feel free to contribute!</div>
    <div class="latestarticle">
      <h1 class="latesttitle">Latest Article</h1>
      <%= render 'disp', article: @articles[@articles.length-1] %>
    </div>
    <%= render 'list' %>
</div>

<%#= render 'column', article: @articles, locale: {side: "right"} %>