body
  {display: grid; grid-template-columns: 25% auto 25%; grid-gap: 0;
  justify-content: space-around;
  font-family: 'Ubuntu','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2; padding: 0; margin: 0;}
h1, h2, h3, h4, p
  {margin: 0;}
.navlinks > a
  {text-decoration: none; color: rgb(0, 0, 80);}
.navlinks > a:hover
  {text-decoration: underline;}
/* Welcome message */
.welcome
  {max-width: 1000px;text-align: center; background-color: #c23801;
  padding: 15px; padding-right: 15px;}
/* index page classes */
.columns
  {width: 100%; display: flex; align-items: center; flex-direction: column;}
.articlebox
  {width: 80%; height: 200px; overflow: hidden; margin-bottom: 40px; padding: 10px;
  border: 1px solid black; cursor: pointer; background-color: rgb(255, 247, 234);
  border-radius: 5px; box-shadow: 1px 0px 18px 5px #a19a97;}
.articlebox:hover
  {scale: 1.1; background-color: rgb(255, 214, 147);}
.main
  {max-width: 1000px;}
.latestarticle
  {max-width: 1000px; text-align: center; background-color: #ece2de;
  padding-left: 15px; padding-right: 15px;}
.latesttitle
  {padding-top: 15px;}
.articlelist
  {max-width: 1000px; text-align: center; background-color: #cfc7c3;
  padding-left: 15px; padding-right: 15px;}
.articlelist > ul
  {list-style-type: '» '; line-height: 30px; text-align: start;}

/* show article classes */
.showtitle
  {padding: 15px;}
.showbody
  {text-align: justify; padding-bottom: 10px; white-space: pre-wrap;}
.showsignature
  {text-align: right; padding-top: 10px; padding-bottom: 10px;}
.showsignature > a
  {text-decoration: none; color: rgb(0, 0, 80);}
.showsignature > a:hover
  {text-decoration: underline;}
.showtime
  {text-align: right; padding-top: 10px; padding-bottom: 10px;}
.main_page_link
  {width: 100%; text-align: center; padding-top: 20px; padding-bottom: 20px;}
.main_page_link > a
  {text-decoration: none; color: #c23801; border-radius: 5px; padding: 5px; font-weight: 900;}
.main_page_link > a:hover
  {color: white; background-color: #c23801;}

/* new article form classes */
.new_article_link
  {margin: 0; padding-top: 10px; padding-bottom: 20px;}
.new_article_link > a
  {color: rgb(0, 0, 80); border: 3px solid rgb(0, 0, 80); border-radius: 5px;
  text-decoration: none; padding: 3px;}
.new_article_link > a:hover
  {color: rgb(0, 0, 255); border: 3px solid rgb(0, 0, 225);}
.new_article_form
  {background-color: #ece2de; text-align: center;
  border-radius: 10px; padding: 20px;}
.new_article_label
  {font-size: 18px; margin-bottom: 5px;}
.new_input
  {margin-bottom: 10px;}
.new_input > input
  {width: 250px; border: 2px solid #C4C4C4; border-radius: 5px; padding: 5px;}
.new_input > input:focus
  {border-color: #F3AA90;}
.new_body
  {margin-bottom: 10px;}
.new_body > textarea
  {width: 300px; height: 500px; resize: none; font-family: 'Ubuntu'; font-size: 14px;
  border-collapse: collapse; border: 2px solid #C4C4C4; border-radius: 5px;
  padding: 5px;}
.new_body > textarea:focus
  {border-color: #F3AA90;}
.new_submit > input
  {font-size: 15px; color: #E95420; font-weight: 900; margin-bottom: 10px; cursor: pointer;
  padding: 0;}
.new_submit > input:hover
  {scale: 1.1; font-weight: 900;}
.linkto
  {margin-bottom: 10px;}
.linkto > a
  {color: #E95420; text-decoration: none;}
.linkto > a:hover
  {color: #923513; text-decoration: underline;}

/* edit article classes */
.original_author
  {padding: 10px; margin-bottom: 10px; background-color: #a19a97;}

/* comment classes */
.commentbox
  {background-color: #ddd4d0; text-align: center; padding: 20px;}
.commentbox > h2
  {margin-bottom: 10px;}
.new_comment
  {margin-bottom: 10px;}
.new_comment > textarea
  {width: 300px; height: 100px; resize: none; font-family: 'Ubuntu'; font-size: 14px;
  border-collapse: collapse; border: 2px solid #C4C4C4; border-radius: 5px;
  padding: 5px;}
.new_comment > textarea:focus
  {border-color: #F3AA90;}
.eachcomment
  {width: 100%;}
.comment_user
  {padding: 5px; font-weight: 900;}

/* show author */
.outlisting
  {display: flex; flex-direction: column; align-items: center;}
.listing > ul
  {list-style-type: '✍ '; line-height: 30px; text-align: start;}
.top-margin-10px
  {margin-top: 10px;}

/* for tests  background-color: #E95420;*/
.test
  {width: 250px; height: 250px; background-color: antiquewhite;}
@media (max-width: 768px)
  {
    body {grid-template-columns: 80%; justify-content: space-around; top: 0;}
    .columns {height: 0; width: 0; overflow: hidden;}
    /*.main {min-width: 0;}*/
  }